ICP-6/sourcecode/flows.json
[{"id":"10d0edc8.cbb692","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"eee343e5.4ba72","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"fa26fdec.0a71d","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"26b9ea2.8879116","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"20eefd3c.41d492","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"33e51d87.eef842","type":"twitter-credentials","z":"","screen_name":"calebcvt"},{"id":"4afea654.b9aa38","type":"arduino-board","z":"","device":"COM3"},{"id":"9c27089f.3c8f78","type":"inject","z":"10d0edc8.cbb692","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":160,"wires":[["29cf444f.6b51cc"]]},{"id":"58d38dc7.d53b74","type":"twitter out","z":"10d0edc8.cbb692","twitter":"33e51d87.eef842","name":"Tweet","x":750,"y":320,"wires":[]},{"id":"29cf444f.6b51cc","type":"openweathermap","z":"10d0edc8.cbb692","name":"","wtype":"current","lon":"","lat":"","city":"Kansas City","country":"United States of America","language":"en","x":330,"y":180,"wires":[["8a0a81b2.40cfe","e8377997.f882e8"]]},{"id":"f57f8715.d7c608","type":"function","z":"10d0edc8.cbb692","name":"extractTweetData","func":"console.log(\"made it\");\nvar weather = msg.payload.weather;\nvar detail = msg.payload.detail;\nvar tempc = msg.payload.tempc;\nvar tempf = (tempc * 9 / 5) + 32;\nvar location = msg.payload.location;\n\nvar weather_msg = \"\"\n\nweather_msg += \"Today in \" + location + \" it is \" + tempf +\"F\" + \"\\n\";\nweather_msg += \"We're happy to see a \" + detail;\n\nmsg.topic = \"tweet/calebcvt\";\nmsg.location = \"Kansas City, MO\"\nmsg.payload = weather_msg; \nreturn msg;","outputs":1,"noerr":0,"x":550,"y":240,"wires":[["d959600b.fa41","58d38dc7.d53b74"]]},{"id":"d959600b.fa41","type":"debug","z":"10d0edc8.cbb692","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":180,"wires":[]},{"id":"8a0a81b2.40cfe","type":"debug","z":"10d0edc8.cbb692","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":500,"y":80,"wires":[]},{"id":"1240792f.494477","type":"e-mail","z":"10d0edc8.cbb692","server":"landonvolkmann.com","port":"465","secure":true,"tls":true,"name":"plfoley10@gmail.com","dname":"","x":610,"y":400,"wires":[]},{"id":"e8377997.f882e8","type":"function","z":"10d0edc8.cbb692","name":"exctractTweetToEmail","func":"console.log(\"made it\");\nvar weather = msg.payload.weather;\nvar detail = msg.payload.detail;\nvar tempc = msg.payload.tempc;\nvar tempf = (tempc * 9 / 5) + 32;\nvar location = msg.payload.location;\n\nvar weather_msg = \"\"\n\nweather_msg += \"Today in \" + location + \" it is \" + tempf +\"F\" + \"\\n\";\nweather_msg += \"We're happy to see a \" + detail;\n\nmsg.topic = \"Your weather report\";\nmsg.payload = weather_msg; \nreturn msg;","outputs":1,"noerr":0,"x":220,"y":320,"wires":[["c4bd3970.5fe208","1240792f.494477"]]},{"id":"c4bd3970.5fe208","type":"debug","z":"10d0edc8.cbb692","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":360,"y":440,"wires":[]},{"id":"52aafc49.ea4a14","type":"lower-case","z":"eee343e5.4ba72","name":"","x":370,"y":160,"wires":[["2052ae75.919362"]]},{"id":"b42b6b3.ad8c598","type":"inject","z":"eee343e5.4ba72","name":"","topic":"","payload":"HELLO WORLD","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":160,"wires":[["52aafc49.ea4a14"]]},{"id":"2052ae75.919362","type":"debug","z":"eee343e5.4ba72","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":680,"y":160,"wires":[]},{"id":"d711ebf8.78aa98","type":"celcius-to-farenheit","z":"fa26fdec.0a71d","name":"","x":300,"y":200,"wires":[["eccf488c.d11968"]]},{"id":"33fb28fb.cc4fb8","type":"inject","z":"fa26fdec.0a71d","name":"","topic":"","payload":"30.0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":200,"wires":[["d711ebf8.78aa98"]]},{"id":"eccf488c.d11968","type":"debug","z":"fa26fdec.0a71d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":200,"wires":[]},{"id":"58de0102.4179a","type":"arduino in","z":"26b9ea2.8879116","name":"","pin":"5","state":"INPUT","arduino":"4afea654.b9aa38","x":170,"y":240,"wires":[["d2e8f76f.ad0638"]]},{"id":"d2e8f76f.ad0638","type":"debug","z":"26b9ea2.8879116","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":440,"y":220,"wires":[]},{"id":"d83b3a37.69b948","type":"inject","z":"20eefd3c.41d492","name":"","topic":"","payload":"","payloadType":"date","repeat":"7","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":100,"wires":[["9eda66fa.250ee8"]]},{"id":"9608a933.1cdd98","type":"arduino out","z":"20eefd3c.41d492","name":"Red","pin":"6","state":"OUTPUT","arduino":"4afea654.b9aa38","x":290,"y":100,"wires":[]},{"id":"96100641.8721a8","type":"arduino out","z":"20eefd3c.41d492","name":"Green","pin":"7","state":"OUTPUT","arduino":"4afea654.b9aa38","x":1090,"y":120,"wires":[]},{"id":"7ab6d2f5.e2447c","type":"arduino out","z":"20eefd3c.41d492","name":"Blue","pin":"8","state":"OUTPUT","arduino":"4afea654.b9aa38","x":730,"y":100,"wires":[]},{"id":"9eda66fa.250ee8","type":"function","z":"20eefd3c.41d492","name":"on","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":220,"wires":[["9608a933.1cdd98","4265acc9.a23a94"]]},{"id":"4265acc9.a23a94","type":"delay","z":"20eefd3c.41d492","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":240,"wires":[["ceb47d58.14822"]]},{"id":"5b9b9451.ca2d2c","type":"arduino out","z":"20eefd3c.41d492","name":"Red","pin":"6","state":"OUTPUT","arduino":"4afea654.b9aa38","x":450,"y":100,"wires":[]},{"id":"ceb47d58.14822","type":"function","z":"20eefd3c.41d492","name":"off","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":260,"wires":[["5b9b9451.ca2d2c","952c3944.cfeab8"]]},{"id":"952c3944.cfeab8","type":"function","z":"20eefd3c.41d492","name":"on","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":260,"wires":[["3ceb5ed2.16afd2","7ab6d2f5.e2447c"]]},{"id":"3ceb5ed2.16afd2","type":"delay","z":"20eefd3c.41d492","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":280,"wires":[["bac6c026.491ff"]]},{"id":"bac6c026.491ff","type":"function","z":"20eefd3c.41d492","name":"off","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":300,"wires":[["fdda07fc.13d5a8","e23888c8.487178"]]},{"id":"e23888c8.487178","type":"function","z":"20eefd3c.41d492","name":"on","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":220,"wires":[["9e48f98d.cef148","96100641.8721a8"]]},{"id":"9e48f98d.cef148","type":"delay","z":"20eefd3c.41d492","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1180,"y":240,"wires":[["6710ef4.fc1241"]]},{"id":"6710ef4.fc1241","type":"function","z":"20eefd3c.41d492","name":"off","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":260,"wires":[["b7d6269f.a72e88"]]},{"id":"fdda07fc.13d5a8","type":"arduino out","z":"20eefd3c.41d492","name":"Blue","pin":"8","state":"OUTPUT","arduino":"4afea654.b9aa38","x":890,"y":120,"wires":[]},{"id":"b7d6269f.a72e88","type":"arduino out","z":"20eefd3c.41d492","name":"Green","pin":"7","state":"OUTPUT","arduino":"4afea654.b9aa38","x":1310,"y":120,"wires":[]}]